// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.carts {
  table {
    border-collapse: collapse;

    td {
      padding: 0.5em;

      &.quantity {
        white-space: nowrap;

        &::after {
          content: ' x';
        }
      }

      &.price {
        font-weight: bold;
        text-align: right;
      }

      &.actions {
        a {
          text-decoration: none;

          &:hover {
            background-color: white;
          }
        }

        border-left: solid thin;
      }
    }

    tfoot {
      th, td.price {
        font-weight: bold;
        padding-top: 1em;
      }

      th {
        text-align: right;
      }

      td.price {
        border-top: solid thin;
      }
    }
  }

  .actions {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
  }

  input[type='submit'] {
    background-color: #881;
    border-radius: 0.354em;
    border: solid thin #441;
    color: white;
    font-size: 1em;
    padding: 0.354em 1em;

    &:hover {
      background-color: #992;
    }
  }
}
